/*the TABLE*/
.table{
border-collapse: collapse;
border: 1px solid black;
padding-top: 100px;
align: center;
height: 175px;
  text-align: center;
  margin:auto;
  height: 500px;
    width: 400px;
    background-color: #64798c;

}
input[type=placeholder] {
color: white; /*doesnt work!!!!*/
}
td{
  border: 0.5px solid black;

  height: 50px;
}
th{
  align: center;
    height: 55px;
    font-size: 5px;
    font-weight: bold;
}
input[type=button] {
    width: 100%;
    height: 90%;
    color: white;
    border: none;
    align: center;
}
input[type=text]{
  height: 85%;
  width: 85%;
  color: white;
}

input{
  background-color: #716e82;
  font-size: 18px;
    font-weight: bold;
    placeholder-color: white;
    placeholder: white;
}
