/*the TABLE*/
.table{
border-collapse: collapse;
border: 1px solid #a40ace;
padding-top: 100px;
align: center;
height: 175px;
  text-align: center;
  margin:auto;
  height: 500px;
    width: 400px;
    background-color: #111417;

}
input[type=placeholder] {
color: white; /*doesnt work!!!!*/
}
td{
  border: 0.5px solid ##a403e4;

  height: 50px;
}
th{
  align: center;
    height: 55px;
    font-size: 5px;
    color: white;
    font-weight: bold;
}
input[type=button] {
    width: 100%;
    height: 90%;
    color: #9105c3;
    border: none;
    align: center;
    text-shadow:
  		-0.5px -0.5px 0 #ffffff,
  		0.5px -0.5px 0 #ffffff,
  		-0.5px 0.5px 0 #ffffff,
  		0.5px 0.5px 0 #ffffff;
}
input[type=text]{
  height: 85%;
  width: 85%;
  color: white;

}
input:hover{
  background-color: black;
}
input{
  background-color: #0f1779;
  font-size: 18px;
    font-weight: bold;
    placeholder-color: white;
    placeholder: white;
}
